{% extends "layout.html" %}
{% block body %}

    <div class="container jumbotron">
        <h1>This is a simple blog-app. The Task is given as follows : </h1>
        <ul>
            <li>
                Create a basic rest API that can perform CRUD operations on Users and their Blog.
            </li>
            <li>
                Only the creator of the blog should be able to modify it.
            </li>        
            <li>
                Read access should be available to everyone.
            </li>        
        </ul>
    </div>

{% endblock %}
